<div class="padding">
  <div class="row">
    <div class="col-md-6">
      <div class="box">
        <div class="box-header">
          <h2>Address Book Bulk Load</h2>
        </div>
        <div class="box-divider m-0"></div>
        <div class="box-body">
          <form role="form" name="uploadForm">
            <div class="form-group">
              <label>Select file</label>
              <input ui-file-upload="csvFileInput" class="form-control" type="file" name="..." accept=".csv" />
              <p class="help-block">NOTE - you can choose only CSV file. The first row is the header.</p>
            </div>
            <button type="submit" ng-click="upload()" class="btn white m-b">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
