<div class="p-a white lt box-shadow">
	<div class="row">
		<div class="col-sm-6">
			<h4 class="mb-0 _300">Welcome to {{app.name}}</h4>
			<small class="text-muted">Now, with AngularJS</small>
		</div>
	</div>
</div>
<div class="padding">
	<div class="box">
		<div class="box-header">
			<h2>Records</h2>
		</div>
		<div class="table-responsive">
			<table ui-jp="dataTable" ui-options="{
	  	sAjaxSource: 'api/datatable.json',
		processing: true,
	 	serverSide: true,
		aoColumns: [
		{ mData: 'firstname' },
		{ mData: 'lastname' },
		{ mData: 'email' }
	  ]
	}" class="table table-striped b-t b-b">
				<thead>
					<tr>
						<th style="width:20%">First name</th>
						<th style="width:25%">Last name</th>
						<th style="width:25%">Email</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>
